@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #130222;
  color: #e7cefd;
  font-family: 'Space Grotesk', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #5f08aa;
  font-size: 48px;
  font-weight: bold;
  margin: 32px;
}

.wrapper {
  display: flex;
  gap: 32px;
}

.control {
  padding: 16px;
  width: 250px;
  height: 750px;
  background-color: #6c09c3;
  border: solid 5px #6c09c3;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* justify-content: center; */
  align-items: center;
}

button {
  outline: none;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 16px;
  width: 200px;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: solid 5px #6c09c3;
  height: 750px;
  width: 750px;
}

.cell {
  flex-basis: calc(100% / 16);
  height: calc(100% / 16); 
  border: solid 1px black;
  background-color: #fff;
  box-sizing: border-box;
}