@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #130222;
  color: #e7cefd;
  font-family: 'Space Mono', monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #5f08aa;
  font-size: 32px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: solid 5px #6c09c3;
  height: 750px;
  width: 750px;
}

.cell {
  flex-basis: calc(100% / 16);
  height: calc(100% / 16); 
  border: solid 1px black;
  background-color: #fff;
  box-sizing: border-box;
}